<html>
  <head>
    <link rel="icon" href="/images/weather.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <title>About</title>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="/images/image.jpeg" />
    </div>
    
    {{>footer}}
  </body>
</html>
